@import "tailwindcss";
@import "@nuxt/ui";


:root {
  --ui-bg: #fcfcfc;
  --ui-text: #425275;
  --ui-primary: #45669d;
  --ui-accent: #497bc5;
  --ui-bright: #4d90ed;
}

.text-highlighted {
  color: black !important;
}


.text-default {
  color: white; 
}

